.bus-container {
    width: 300px !important;
    border: 2px solid gray;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.seat {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
}
.selected-seat {
    background-color: green;
    color: #fff;
}
.booked-seat {
    background-color: gray;
    color: #fff;
    pointer-events: none;
    cursor: disabled;
}